/* 这里放置的CSS将应用于所有皮肤 */
:root {
  --mabi-primary: #AADCFF;
  --mabi-primary-darken: #1D6C95;
  --mabi-secondary: #55AAD2;
  --mabi-danger: #d80000;
  --panel-bg: rgba(245, 245, 245, 0.8);

  --mabi-text: var(--mabi-primary-darken);
  --mabi-border: var(--mabi-secondary);
  --mabi-table-header: var(--mabi-primary);
}

/* 暂时限制1200px */
html {
  overflow-x: auto;
}
body {
  min-width: 1200px;
}
.wiki-body {
  min-width: 1200px;
}
/* 更改页面背景 */
.huiji-css-hook {
  background: url(https://huiji-public.huijistatic.com/luoqi/uploads/3/37/Illust_082_1920x1080.jpg) no-repeat fixed center;
  background-size: cover;
}
/* 更改内容区域背景 */
.huiji-css-hook .wiki-body {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, .8);
}
/* 更改页脚背景颜色 */
.huiji-css-hook .bottom.footer {
  background-color: var(--panel-bg);
}

/* 表格处理 */
/* 使用折叠时禁止caption换行 */
.mw-collapsible caption {
  white-space: nowrap;
}
/* 洛奇用默认表格 */
table.mabi-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF;
  color: var(--mabi-text);
  margin: 1em 0;
}
table.mabi-table caption {
  font-weight: bold;
  color: var(--mabi-text);
}
table.mabi-table tr,
table.mabi-table th,
table.mabi-table td{
  border: 1px solid var(--mabi-border);
}
table.mabi-table th,
table.mabi-table td{
  padding: 0.2em 0.4em;
}
table.mabi-table th,
table.mabi-table.left-header tr > td:first-child{
  background-color: var(--mabi-table-header);
  text-align: center;
  font-weight: bold;
}
table.mabi-table.all-center th,
table.mabi-table.all-center td{
  text-align: center;
}

/* 洛奇用标题样式 */
#wiki-body h1 {
  font-size: 2em;
  color: var(--mabi-text);
  font-weight: bold;
  margin: 1em 0;
}

#wiki-body h2 {
  font-size: 1.8em;
  color: var(--mabi-text);
  font-weight: bold;
  margin: 1em 0;
  border-bottom: 1px solid var(--mabi-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.2em;
}

#wiki-body h2::before {
  content: '';
  display: block;
  background-image: url('/wiki/Special:FilePath/标题元素1.png');
  background-size: 1.5em 1.5em; /* 控制图片宽高 */
  width: 1.5em; /* 设置图片宽度 */
  height: 1.5em; /* 设置图片高度 */
  margin-right: 10px; /* 设置图片和文字的间距 */
}

#wiki-body h3 {
  font-size: 1.5em;
  color: var(--mabi-text);
  font-weight: bold;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#wiki-body h3::before {
  content: '';
  display: block;
  background-image: url('/wiki/Special:FilePath/标题元素2.png');
  background-size: 1em 1em; /* 控制图片宽高 */
  width: 1em; /* 设置图片宽度 */
  height: 1em; /* 设置图片高度 */
  margin-right: 5px; /* 设置图片和文字的间距 */
  flex-shrink: 0;
}

#wiki-body h4 {
  font-size: 1em;
  color: var(--mabi-text);
  font-weight: bold;
  margin: 0.3em 0;
}

#wiki-body h5 {
  font-size: 1em;
  color: var(--mabi-text);
  margin: 0.1em 0;
}
#wiki-body .mw-headline {
  line-height: 1.2;
}